In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
from sklearn import preprocessing
from sklearn.metrics import mean_absolute_error

## Посмотреть на данные

In [3]:
train_df = pd.read_csv("train.csv")

train_df.head(15).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
id,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
date,2011-1,2011-1,2011-1,2011-1,2011-1,2011-1,2011-1,2011-1,2011-1,2011-1,2011-1,2011-1,2011-1,2011-1,2011-1
street_id,30,376,549,321,636,59,176,602,220,34,640,45,531,152,629
build_tech,0.0,1.0,NaN,1.0,NaN,NaN,0.0,1.0,0.0,NaN,NaN,1.0,NaN,NaN,0.0
floor,10,2,8,10,3,4,2,5,4,4,9,2,8,4,22
area,48,53,61,47,58,62,35,34,41,47,63,60,74,52,73
rooms,2,2,3,1,3,2,1,1,2,2,2,3,3,3,3
balcon,0,0,1,1,0,2,0,1,0,0,1,1,0,0,0
metro_dist,30.0,30.0,30.0,30.0,25.0,15.0,30.0,15.0,15.0,25.0,25.0,30.0,30.0,15.0,20.0
g_lift,NaN,1.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0
n_photos,4,0,1,6,2,0,3,5,6,2,3,0,6,3,4
kw1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw2,1,1,0,1,0,0,0,1,0,0,0,1,0,1,0
kw3,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
kw4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
price,4252000,4463000,4518000,6785000,1677000,8162000,1730000,4741000,3246000,1959000,3974000,3149000,7420000,2150000,3297000

In [4]:
train_df['metro_dist'].value_counts(sort = True)

30.0    35467
25.0    15962
20.0    14468
15.0    13175
10.0     9954
5.0      4651
0.0      1421
Name: metro_dist, dtype: int64

In [5]:
test_df = pd.read_csv("test.csv")

test_df.head(15).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
id,100000,100001,100002,100003,100004,100005,100006,100007,100008,100009,100010,100011,100012,100013,100014
date,2012-3,2012-3,2012-3,2012-3,2012-3,2012-3,2012-3,2012-3,2012-3,2012-3,2012-3,2012-3,2012-3,2012-3,2012-3
street_id,134,630,437,30,358,575,319,383,295,518,216,403,45,247,352
build_tech,NaN,NaN,1.0,1.0,1.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.0
floor,2,5,1,7,4,3,9,4,5,5,24,2,5,9,12
area,35,33,60,71,52,63,53,30,35,48,88,59,52,35,52
rooms,1,1,3,2,2,3,2,1,1,2,3,3,3,1,2
balcon,0,0,1,1,1,0,1,0,0,0,2,1,0,0,1
metro_dist,30.0,30.0,NaN,25.0,30.0,30.0,30.0,30.0,5.0,30.0,10.0,NaN,30.0,25.0,30.0
g_lift,1.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,1.0,0.0,0.0
n_photos,1,1,5,3,0,1,3,5,4,0,5,5,3,0,1
kw1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
kw2,1,0,1,0,1,0,1,1,0,0,0,1,1,1,1
kw3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
kw13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
test_df['metro_dist'].value_counts()

30.0    35669
25.0    15655
20.0    14377
15.0    13088
10.0    10233
5.0      4529
0.0      1403
Name: metro_dist, dtype: int64

## Предобработка данных:

In [7]:
from datetime import datetime
from datetime import date

def date_to_year(date_str):
    t = datetime.strptime(date_str, "%Y-%m").date()
    return t.year
def date_to_month(date_str):
    t = datetime.strptime(date_str, "%Y-%m").date()
    return t.month

In [8]:
from datetime import datetime

X_test = pd.read_csv("test.csv")
X_train = pd.read_csv("train.csv")
y_train = X_train['price']
del X_train['price']
del X_train['id']
del X_test['id']

date_to_year_vec = np.vectorize(date_to_year)
date_to_month_vec = np.vectorize(date_to_month)
X_train['year'] = np.zeros_like(X_train['date'])
X_train['year'] = pd.Series(date_to_year_vec(X_train.date))
X_train['month'] = np.zeros_like(X_train['date'])
X_train['month'] = pd.Series(date_to_month_vec(X_train.date))

X_test['year'] = np.zeros_like(X_train['date'])
X_test['year'] = pd.Series(date_to_year_vec(X_test.date))
X_test['month'] = np.zeros_like(X_train['date'])
X_test['month'] = pd.Series(date_to_month_vec(X_test.date))

kw = ['kw1','kw2', 'kw3', 'kw4', 'kw5', 'kw6', 'kw7', 'kw8', 'kw9', 'kw10', 'kw11', 'kw12', 'kw13']

del X_train['date']
del X_test['date']

In [9]:
X_train.head()

,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,n_photos,kw1,...,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,year,month
0,30,0.0,10,48,2,0,30.0,NaN,4,0,...,0,0,0,0,0,0,0,0,2011,1
1,376,1.0,2,53,2,0,30.0,1.0,0,0,...,0,0,0,0,0,0,0,0,2011,1
2,549,NaN,8,61,3,1,30.0,0.0,1,0,...,0,0,0,0,0,0,0,0,2011,1
3,321,1.0,10,47,1,1,30.0,0.0,6,0,...,0,0,0,0,0,0,0,0,2011,1
4,636,NaN,3,58,3,0,25.0,NaN,2,0,...,0,0,0,0,0,0,0,0,2011,1

In [10]:
X_train = X_train.fillna('Not given')
X_test = X_test.fillna('Not given')
categorical = (list(X_train.dtypes[X_train.dtypes == "object"].index) +
                   ['street_id', 'rooms', 'balcon', 'year', 'month', 'metro_dist'])

In [11]:
X_train[categorical] = X_train[categorical].astype('string')
X_test[categorical] = X_test[categorical].astype('string')
numeric_features = ['floor', 'area', 'n_photos'] + kw

## Тестирование различных регрессий с разными alpha:

In [12]:
transformer = OneHotEncoder(handle_unknown="ignore")
X_train_ohe = transformer.fit(X_train).transform(X_train)
model = Lasso()
model = model.fit(X_train_ohe, y_train)
y_pred_ohe = model.predict(X_test)
y_pred_test = model.predict(X_train)
print("Test MAE = %.4f" % mean_absolute_error(y_train, y_pred_test))

ValueError: Unable to convert array of bytes/strings into decimal numbers with dtype='numeric'

In [ ]:
column_transformer = ColumnTransformer([
    ('ohe', OneHotEncoder(handle_unknown="ignore"), X_train.columns)
])
pipeline = Pipeline(steps=[
    ('ohe_and_scaling', column_transformer),
    ('regression', Lasso())
])

model = pipeline.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred_test = model.predict(X_train)
print("Test MAE = %.4f" % mean_absolute_error(y_train, y_pred_test))

In [ ]:
column_transformer = ColumnTransformer([
    ('ohe', OneHotEncoder(handle_unknown="ignore"), X_train.columns),
    ('scaling', preprocessing.MinMaxScaler(), numeric_features)
])
pipeline = Pipeline(steps=[
    ('ohe_and_scaling', column_transformer),
    ('regression', Lasso())
])

model = pipeline.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred_test = model.predict(X_train)
print("Test MAE = %.4f" % mean_absolute_error(y_train, y_pred_test))

In [ ]:
column_transformer = ColumnTransformer([
    ('ohe', OneHotEncoder(handle_unknown="ignore"), X_train.columns)
])
pipeline = Pipeline(steps=[
    ('ohe_and_scaling', column_transformer),
    ('regression', Ridge())
])

model = pipeline.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred_test = model.predict(X_train)
print("Test MAE = %.4f" % mean_absolute_error(y_train, y_pred_test))

In [ ]:
from tqdm import tqdm_notebook

mae = []
for a in tqdm_notebook(np.hstack((np.arange(0, 2, 0.1)))):
    column_transformer = ColumnTransformer([
        ('ohe', OneHotEncoder(handle_unknown="ignore"), X_train.columns)
    ])
    pipeline = Pipeline(steps=[
        ('ohe_and_scaling', column_transformer),
        ('regression', Lasso(alpha=a))
    ])

    model = pipeline.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    y_pred_test = model.predict(X_train)
    mae.append(mean_absolute_error(y_train, y_pred_test))
    print("Test MAE = %.4f" % mean_absolute_error(y_train, y_pred_test))

In [ ]:
plt.plot(np.hstack((np.arange(0, 2, 0.1))), mae)

In [ ]:
from tqdm import tqdm_notebook

for a in tqdm_notebook(np.hstack((np.arange(2, 10, 1)))):
    column_transformer = ColumnTransformer([
        ('ohe', OneHotEncoder(handle_unknown="ignore"), X_train.columns)
    ])
    pipeline = Pipeline(steps=[
        ('ohe_and_scaling', column_transformer),
        ('regression', Lasso(alpha=a))
    ])

    model = pipeline.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    y_pred_test = model.predict(X_train)
    mae.append(mean_absolute_error(y_train, y_pred_test))
    print("Test MAE = %.4f" % mean_absolute_error(y_train, y_pred_test))

In [ ]:
plt.plot(np.hstack((np.arange(0, 2, 0.1), np.arange(2, 10, 1))), mae)

In [27]:
column_transformer = ColumnTransformer([
    ('ohe', OneHotEncoder(handle_unknown="ignore"), X_train.columns)
])
pipeline = Pipeline(steps=[
    ('ohe_and_scaling', column_transformer),
    ('regression', Lasso(alpha=12))
])

model = pipeline.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred_test = model.predict(X_train)
print("Test MAE = %.4f" % mean_absolute_error(y_train, y_pred_test))

C:\Program Files (x86)\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6.373146557407307e+16, tolerance: 193858101547285.75
  model = cd_fast.sparse_enet_coordinate_descent(

Test MAE = 984758.3173

In [28]:
column_transformer = ColumnTransformer([
    ('ohe', OneHotEncoder(handle_unknown="ignore"), X_train.columns)
])
pipeline = Pipeline(steps=[
    ('ohe_and_scaling', column_transformer),
    ('regression', Lasso(alpha=14))
])

model = pipeline.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred_test = model.predict(X_train)
print("Test MAE = %.4f" % mean_absolute_error(y_train, y_pred_test))

C:\Program Files (x86)\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6.450199815929229e+16, tolerance: 193858101547285.75
  model = cd_fast.sparse_enet_coordinate_descent(

Test MAE = 984675.0419

In [14]:
column_transformer = ColumnTransformer([
    ('ohe', OneHotEncoder(handle_unknown="ignore"), X_train.columns),
    ('scaling', preprocessing.MinMaxScaler(), numeric_features)
])
pipeline = Pipeline(steps=[
    ('ohe_and_scaling', column_transformer),
    ('regression', Ridge(alpha=5))
])

model = pipeline.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred_test = model.predict(X_train)
print("Test MAE = %.4f" % mean_absolute_error(y_train, y_pred_test))

Test MAE = 980452.3573

In [20]:
test_df["price"] = y_pred

test_df[["id", "price"]].to_csv("prediction.csv", index=False)

!cat prediction.csv | head

"cat" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.